<div class="home">
  <div class="home2">
    <div class="header1">Hello KiranPROD</div>
    <div class="header2">19</div>
    <div class="header3">My Balance Points</div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body card-edit text">
      <p class="card-text">Let's pair your BBalance</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body card-edit">
          <p class="card-text text">
            Balance
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body card-edit">
          <p class="card-text text">
            Posture
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
